{% extends "base.html" %} {% block main %}
<div class="container-xl col-xxl-8 py-5 px-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col">
			<table class="table">
				<tbody>
					<tr>
						<th style="width: 80px">Filename</th>
						<td>{{ finfo.name}}</td>
					</tr>
					<tr>
						<th>Size</th>
						<td>{{ finfo.size_human }}</td>
					</tr>
					<tr>
						<th>File ID</th>
						<td>{{ finfo.fid }}</td>
					</tr>
					<tr>
						<th>URL (Raw)</th>
						<td>
							<a target="_blank" href="{{ finfo.url_raw }}">{{ finfo.url_raw }}</a>
						</td>
					</tr>
					<tr>
						<th>Uploader</th>
						<td>{{ finfo.uploader }}</td>
					</tr>
					<tr>
						<th>Expires</th>
						<td>{{ finfo.time_expiration }}</td>
					</tr>
					<tr>
						<th>Uploaded</th>
						<td>{{ finfo.time_created }}</td>
					</tr>
				</tbody>
			</table>
			{% if owns_this_file %}
			<script>
				async function deleteThis() {
					const response = await fetch("/api/v1/file/{{ finfo.fid }}", {
						method: "DELETE",
					});
					if (!response.ok) {
						alert("Could not delete file");
						throw Error("Could not delete file");
					}
					else {
						window.location.replace("/");
					}
				}
			</script>
			<button type="button" class="btn btn-danger" onclick="deleteThis()">Delete</button>
			{% endif %}
			<h2>Preview</h2>
			{% include "components/preview.html" %}
		</div>
	</div>
</div>
{% endblock %}
